=======
# Object file
*.o

# Ada Library Information
*.ali

###########
# My folder
###########

*/migrations
*migrations
/media
media/
/venv
venv/
/static
/static/

*.sqlite3

*.py.save
*.pyc

settings.py
