{% extends "base.html" %}

{% block title %}Gallery of {{ data.title }}{% endblock %}
{% block extrastyle %}
    <link type="text/css" rel="stylesheet" href="/static/css/featherlight.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/featherlight.gallery.min.css" />
    <style type="text/css">
           
    .panel-default{
        margin-right: auto;
        margin-left: auto;
        width: 95%;
        padding: 3px;
        align: center;
    }
    .tags {
      border-radius: 5px 5px 5px;
      background: #BADA55;
      padding: 5px;
    }
    .panel-body{
        padding: 2px;
        text-align: center;
        margin: 2px;
        max-width: 200;
        width: auto;
        float: middle;

    }
    .thumbs {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        margin: 5px;
        background-color: #fff;
        width: auto;
        height: auto;

    }
    .thumbs:hover{
        border: 1px solid green;
        border-radius: 8px;
        background-color: lightgreen;

    }

    a:hover,
    a:focus {
      color: none !important;
    }
</style>
{% endblock %}

{% block script %}
        <script src="/static/js/jquery-1.7.0.min.js"></script>
        <script src="/static/css/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/css/featherlight.gallery.min.js" type="text/javascript" charset="utf-8"></script>

        <script>
            $(document).ready(function(){
                $('.gallery').featherlightGallery({
                    gallery: {
                        fadeIn: 300,
                        fadeOut: 300,

                    },
                    openSpeed:    300,
                    closeSpeed:   300
                });
            });

        </script>
{% endblock %}

{% block content %}
        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">TipTop Gallery ~ {{ data.title }}</h1>
            </div>
            
                 {% for y in data.get_image %}
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail gallery" href="{{ y.images.url }}">
                    <img class="img-responsive" src="{{ y.thumbs.url }}" /></a>
                </div>
                {% endfor %}
        </div>

        <div class="panel panel-default">
          <div class="panel-footer">
          Tags : 
          {% for cat in category %}
            <span class="tags"><a href="/category/search={{ cat.category.name }}.html">{{ cat.category.name }}</a>
            </span>&nbsp;
            {% endfor %}
          </div>
        </div>
</br>
<div class="panel panel-danger">
      <div class="panel-heading">Populer Chicks</div>
      <div class="panel-body">
       {% for pop in populer %}
        <a data-toggle="tooltip" title="{{ pop.post.title }}" href="/gallery/image={{ pop.post.url_id }}.html">
        <img class="thumbs" src="/media/{{ pop.post.get_thumb_image }}">
        </a>
        {% endfor %}
      </div>
    </div>

<div class="panel panel-info">
  <div class="panel-heading">Recent Chicks</div>
  <div class="panel-body">
   {% for rec in recent %}
    <a data-toggle="tooltip" title="{{ rec.title }}" href="/gallery/image={{ rec.url_id }}.html">
    <img class="thumbs" src="/media/{{ rec.get_thumb_image }}">
    </a>
    {% endfor %}
  </div>
</div>

{% endblock content %}

