{% load staticfiles %}
<title>{{ data.title }}</title>
<h1>Bokepdo ~ {{ data.title }}</h1> 

<div>
	{% for y in data.get_image %}
	<a href="{{ y.images.url }}"><img src="{{ y.images.url }}" height="25%"></a>
	{% endfor %}
	</br>
	</br>
	<hr>
</div>


<!--             {% for y in data.get_image %}
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="{{ y.images.url }}">
                    <img class="img-responsive" src="{{ y.thumbs.url }}" alt="">
                </a>
            </div>
            {% endfor %} -->