{% extends "base.html" %}
{% block title %}Index of {{ path }} {% endblock %}

{% block extrastyle %}
<style type="text/css">
    body,html {
    background:#fff;font-family:"Bitstream Vera Sans","Lucida Grande","Lucida Sans Unicode",Lucidux,Verdana,Lucida,sans-serif;
    }
    tr:nth-child(even) {
    background:#f4f4f4;
    }
    th,td {
    padding:0.1em 0.5em;
    }
    th {
    text-align:left;font-weight:bold;background:#eee;border-bottom:1px solid #aaa;
    }
    #list {
    border:1px solid #aaa;width:100%;
    }
    a {
    color:#3454C2;
    }
    a:hover {
        color:#e33;
    }


</style>
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">

    function do_this(){

        var checkboxes = document.getElementsByName('data');
        var button = document.getElementById('toggle');

        if(button.value == 'select all'){
            for (var i in checkboxes){
                checkboxes[i].checked = 'FALSE';
            }
            button.value = 'deselect all'
        }else{
            for (var i in checkboxes){
                checkboxes[i].checked = '';
            }
            button.value = 'select all';
        }
    }
</script>

<script>
function clickadd() {
    window.open("{% url 'add_modelname' %}",  "_blank", "toolbar=no,scrollbars=yes,width=900,height=400");
}
</script>
{% endblock %}

{% block content %}

<h2 class="page-header">Index of {{ path }}</h2>
    <table id="list" cellpadding="0.1em" cellspacing="0">
        <colgroup>
            <col width="45%"/>
            <col width="15%"/>
            <col width="15%"/>
            <col width="5%"/>
        </colgroup>
        <thead>
            <tr>
            <th>File Name</th>
            <th>Created</th>
            <th>Image Size</th>
            <th>Checklist</th>
            </tr>
        </thead>

        <tbody>
            <tr>
            {% load image_size %}
            {% for x in datafile %}
            <td>

            <a href="{{ url_media }}/{{ x }}">{{ x }}</a>
            </td>
            <td>
            {{ x|modification_date }}
            </td>
            <td>{{ x|get_size }} {{ x|image_size }}</td>
            <td>
            <form method="POST">
            {% csrf_token %}
            <input class="checkbox-inline" type="checkbox" name="data" value="{{ x }}">
            </td>
            </tr>
            {% endfor %}
            <tr>
            <td>Total : {{ datafile|length }} files </td>
            <td>-</td>
            <td>-</td>

            <td><input type="button" id="toggle" value="select all" onClick="do_this()" />
            </td>
            </tr>
        </tbody>
    </table>
    </br>

  <div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">Category</div>
         <div class="panel-body">
          {% for cat in category %}
            <input class="checkbox-inline" type="checkbox" name="category" value="{{ cat.id }}">{{ cat.name }}
        {% endfor %}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Title Post</div>
         <div class="panel-body">
         <div class="col-xs-6">
            <input type="text" class="form-control" id="title" name="title" placeholder="Create a title to post">
         </div>

         <div class="col-xs-6">
             <select name="artis" >
              <option value="" selected>------</option>
            {% for name in models_name %}
              <option value="{{ name.id }}">{{ name.name|upper }}</option>
            {% endfor %}
            </select>

            <img src="/static/admin/img/icon-addlink.svg" alt="Add" onclick="clickadd()" style="cursor:pointer">
         </div>

         </div>

         <div class="panel-body">
         <div class="col-xs-12">
            <input type="submit" value="Post to Gallery" class="btn btn-primary">
         </div>
        </div>
    </div>
</form>
</div>

 <div class="btn-group btn-group-lg ">
  <a href="{% url 'image_scrapper' %}" class="btn btn-danger">Scrap</a>
  <a href="{% url 'export_to_post' %}" class="btn btn-primary">Post Image</a>
  <a href="{% url 'zip_file' %}" class="btn btn-success">Backup ZIP</a>
</div>
{% endblock content %}