{% extends "base.html" %}

{% block title %}TipTop Gallery Homepage{% endblock %}
{% block extrastyle %}
<style type="text/css">
.img-responsive {
  height: 225px !important ;
  width: auto;
  opacity: 0.6
    }
.img-responsive:hover{
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    }
div.center {
    text-align: right;
    margin-top: 5px;
}
</style>

{% endblock %}

{% block extrascripts %}
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>
{% endblock %}

{% block content %}
        <div class="row">

			{% for x in data %}
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a data-toggle="tooltip" title="{{ x.title }}" class="thumbnail" href="{% url 'detail_new' x.url_id %}">
                    <img class="img-responsive" src="{{ x.get_first_image }}" alt="" >
                </a>
                <div class="panel panel-primary">
                    <div class="panel-heading">Tags : </div>
                </div>
            </div>
            {% endfor %}
		
        </div>
		
        <hr>

    {% if data %}
    <div class="center"> 
      <ul class="pagination">
          {% if data.has_previous %}
              <li><a href="?page={{ data.previous_page_number }}">Previous</a></li>
          {% endif %}
          {% for pg in data.paginator.page_range %}
              {% if data.number == pg %}
                  <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
              {% else %}
                  <li><a href="?page={{ pg }}">{{ pg }}</a></li>
              {% endif %}
          {% endfor %}
          {% if data.has_next %}
              <li><a href="?page={{ data.next_page_number }}">Next</a></li>
          {% endif %}
      </ul>
    </div>
    {% endif %}

{% endblock content %}