{% extends "base.html" %}
{% block title %}Output Scrapping Image {% endblock %}

{% block extrastyle %}
<style type="text/css">
.img-responsive {
  height: 100px !important ;
  width: auto;
  opacity: 0.6
    }
</style>
{% endblock %}
{% block extrascripts %}
<script type="text/javascript">

    function do_this(){

        var checkboxes = document.getElementsByName('data');
        var button = document.getElementById('toggle');

        if(button.value == 'select all'){
            for (var i in checkboxes){
                checkboxes[i].checked = 'FALSE';
            }
            button.value = 'deselect all'
        }else{
            for (var i in checkboxes){
                checkboxes[i].checked = '';
            }
            button.value = 'select all';
        }
    }
</script>
{% endblock %}

{% block content %}

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Output Scraping</h1>
            </div>
			

			{% load image_size %}
			{% for a in datafile %}


            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
				<img class="img-responsive" src="{{ url_media }}{{ a }}" height="100px" width="100px">   
                	<form method="POST">
		 			{% csrf_token %}
		      		</br>
		      		<input class="checkbox-inline" type="checkbox" name="data" value="{{ a }}">
		      		Filename : {{ a }} </br>
			      	({{ a|image_size }})
            </div>
			{% endfor %}

<!-- 		<form action="{% url 'export_image' %}" method="post">
		{% csrf_token %}
		<input type="submit" value="Export images"> 
		</form>
 -->


        </div>
		<input type="button" id="toggle" value="select all" onClick="do_this()" />
		</br>
		<input type="submit" value="Delete Selected">
		</form>
		
		<a href="{% url 'image_scrapper' %}">Scrap lagi</a>
{% endblock content %}